<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <h1 class="text-center">Eat Da Burger!</h1>
        </div>
    </div>
    {{#each burgers}}
    <div class="row">
        <div class="col text-center">
            {{#unless devoured}}
            {{burger_name}}
            {{/unless}}
        </div>
        <div class="col text-center">
            {{#unless devoured}}
            <button class="btn btn-danger devour-burger" data-id="{{id}}" data-devoured="{{devoured}}">Devour!</button>
            {{/unless}}
        </div>
        <div class="col text-center">
            {{#if devoured}}
            {{burger_name}}
            {{/if}}
        </div>
    </div>
    {{/each}}

    <h2 class="text-center">Add a Burger</h2>
    <form class="create-form text-center">
        <div class="form-group row justify-content-center">
            <label for="ca">Burger Name:</label>
            <input type="text" id="burgerName" name="name">
        </div>

        <button type="submit" class="text-center" id="submitButton">Add Burger</button>
    </form>
</div>