<div class="container">
    <h1>Eat Da Burger!</h1>

    {{#each burgers}}
    <div class="row">
        <div class="col">
            {{#unless devoured}}
            {{burger_name}}
            {{/unless}}
        </div>
        <div class="col">
            {{#unless devoured}}
            <input type="button" name="devour">
            {{/unless}}
        </div>
        <div class="col">
            {{#if devoured}}
            {{burger_name}}
            {{/if}}
        </div>
    </div>
    {{/each}}
</div>