<h1>Eat Da Burger!</h1>

<ul>
    {{#each burgers}}
    <li>
        {{#unless devoured}}
        {{burger_name}}
        <input type="button" name="devour">
        {{/unless}}
    </li>
    {{/each}}
</ul>